<!DOCTYPE html>
<html>
<head>
  <style>
    body{
      background-image:url("https://media.tenor.com/7LHhCHpFfy4AAAAM/88.gif");
      background-size:cover;
      background-repeat:none;
      font-weight:bold;
    }
    div{
      color:whitesmoke;
      background-color:black;
      width: 60%;
      padding:6% 2%; 
      opacity:0.8;
      margin:8% auto;
      font-size:24px;
    }
    h1{
      text-align:center;
      font-size:48px;
    }
  </style>
</head
<body>
  
  <div> 
    <h1>TOP 5 NEWS' SUMMARIES</h1>
    <br>
    <i>
    {news}
  </div>
  </i>


</body>
</html>
