<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Divya's Blogs</title>
    <style>
      body{
      background-color: #9dcd18;
      color: #333b07;
      
      }
    </style>
    <link rel="stylesheet" href="/static/css/blog.css">
  </head>
  <body>
    <h1>{heading}</h1>
    <img src="{src}">
    <h2>{date}</h2>
    <h2 style="color:darkgreen"><i>By {author}</i></h2>
    <img class="author" src="{profile}">
    <p>{content}</p>
  </body>
</html>
