<html>
  <head>
    <style>
      .main{
        width: 40%;
        margin:0 auto 85% auto;
        background-color:white;
        opacity:0.6;
      }
      body{
        background-color:black;
      }
      .img{
        margin:5% 500px 2% 500px;
        text-align:center;
        padding:0;
      }
    </style>
  </head>
<body style="">
  <img class="img" src="https://media.tenor.com/jaR5LUpGoDUAAAAM/hello-chat-rinrinne.gif">
  <div class="main">

<h2>Welcome back, dear!</h2>
</div></body>
</html>
