<html>
  <head>
    <style>
      .main{
        width: 40%;
        margin:10% auto 85% auto;
        background-color:white;
        opacity:0.6;
      }
    </style>
  </head>
<body style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEgavJT1yIhIagCx9NL24hTRTvDK3LaH9ag&usqp=CAU'); background-repeat:none;background-size:contain;background-position:top;background-size:100%;overflow:hidden;">
  <div class="main">
<h2>Username, email or password is incorrect<br>Don't try to access again.</h2>
</div></body>
</html>
