<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div class= "content">
    <title>Day <dayNumber> Reflection</title>
    <link rel="stylesheet" href="/static/css/reflection.css">
  </head>
  <body>
  <h1>Day {dayNumber} Reflection</h1>
  <a href="https://replit.com/@divyasingh0803/Day{dayNumber}100Days">Check out my code here</a>
  <p><i>{reflection}</i></p>
  </div>
  </body>
</html>
