<!DOCTYPE html>
<html>
<head>
  <style>
    body
    {
      background-image:url("{url}");
      background-repeat:none;
      background-size:cover;
      font-weight:bold;
      opacity:0.8;
    }
    div{
      text-align:center;
      width: 30%;
      margin:14% 32%;
      background-color:black;
      color:floralwhite;
      padding:3%;
    }
    h1{
      font-size:48px;
    }
    
  </style>

</head>
<body>
  <div>
    <h1>Today's Weather</h1>
    <h2>{weather}</h2>
    <p>{temp}</p>
  </div>
</body>
</html>
