<html>
  <head>
    <title>English</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    
    <h1>A Web Developer</h1>
    <div class="img">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6cjNG7NdPftuOXIV-c_9GOieH2oTsZY3o6Q&usqp=CAU">
      </div>
    <div class="content">
    <p>A web developer is at heart an interactive artist. They’re someone driven by a deep desire to create things. A web developer’s canvas is a user’s web browser.</p>

<p>Much like how a curious child takes pleasure in making toys by joining LEGO blocks—and then experiences a similar joy in taking things apart to see how they’re made, a web developer’s job is to use the basic building blocks of the web (like HTML, CSS and JavaScript) to create something complex like a webpage. Don’t sweat it! We’ll get into all of those terms soon.</p>

<p>It's also the web developer’s job to diagnose problems in a website’s functionality, to understand how something works by reading the code behind it, and to make changes to fix any issues. That essentially makes web developers the physicians of the world wide web. When we talk about the world wide web, we’re mainly referring to websites and web applications. At this point, the curious aspiring developer in you might be wondering, “What’s the difference between the two?”</p>

<p>Well, we’re glad you asked! A website is usually a simple page or a group of pages (the popular web comic site, xkcd, for example). However, modern websites are much more than that. Take Google Docs, for example. It has a nice interface that, once opened, looks very much like a desktop software like Microsoft Office. Such complex websites are often termed web applications. A web developer today is expected to know how to create and work with web applications. Having said that, most people use the terms interchangeably, so don’t get too hung up on the terminology!</p>
      </div>
<body>
</html>
