<html>
  <head>
    <title>Hindi</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>

    <h1>एक वेब डेवलपर</h1>
    <div class="img">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6cjNG7NdPftuOXIV-c_9GOieH2oTsZY3o6Q&usqp=CAU">
      </div>
    <div class="content">
    <p>एक वेब डेवलपर मूलतः एक इंटरैक्टिव कलाकार होता है। वे चीजें बनाने की गहरी इच्छा से प्रेरित व्यक्ति हैं। एक वेब डेवलपर का कैनवास उपयोगकर्ता का वेब ब्राउज़र होता है।</p>

<p>बहुत कुछ उसी तरह जैसे एक जिज्ञासु बच्चा लेगो ब्लॉकों को जोड़कर खिलौने बनाने में आनंद लेता है - और फिर चीजों को अलग करने में भी उसी तरह का आनंद अनुभव करता है यह देखने के लिए कि वे कैसे बने हैं, एक वेब डेवलपर का काम वेब के बुनियादी बिल्डिंग ब्लॉक्स का उपयोग करना है (जैसे) वेबपेज जैसा कुछ जटिल बनाने के लिए HTML, CSS और JavaScript)। इसे बर्बाद मत करो! हम जल्द ही उन सभी शर्तों पर विचार करेंगे।</p>

<p>किसी वेबसाइट की कार्यक्षमता में समस्याओं का निदान करना, उसके पीछे के कोड को पढ़कर यह समझना कि कोई चीज़ कैसे काम करती है, और किसी भी समस्या को ठीक करने के लिए परिवर्तन करना भी वेब डेवलपर का काम है। यह अनिवार्य रूप से वेब डेवलपर्स को वर्ल्ड वाइड वेब का चिकित्सक बनाता है। जब हम वर्ल्ड वाइड वेब के बारे में बात करते हैं, तो हम मुख्य रूप से वेबसाइटों और वेब अनुप्रयोगों का उल्लेख कर रहे होते हैं। इस बिंदु पर, आपके अंदर का जिज्ञासु महत्वाकांक्षी डेवलपर सोच रहा होगा, "दोनों के बीच क्या अंतर है?"</p>

<p>खैर, हमें खुशी है कि आपने पूछा! एक वेबसाइट आमतौर पर एक साधारण पृष्ठ या पृष्ठों का एक समूह होता है (उदाहरण के लिए लोकप्रिय वेब कॉमिक साइट, xkcd)। हालाँकि, आधुनिक वेबसाइटें इससे कहीं अधिक हैं। उदाहरण के लिए, Google डॉक्स को लें। इसमें एक अच्छा इंटरफ़ेस है, जो एक बार खुलने पर, माइक्रोसॉफ्ट ऑफिस जैसे डेस्कटॉप सॉफ़्टवेयर जैसा दिखता है। ऐसी जटिल वेबसाइटों को अक्सर वेब एप्लिकेशन कहा जाता है। आज एक वेब डेवलपर से यह अपेक्षा की जाती है कि वह यह जाने कि वेब एप्लिकेशन कैसे बनाएं और उनके साथ कैसे काम करें। ऐसा कहने के बाद, अधिकांश लोग शब्दों का उपयोग परस्पर विनिमय के लिए करते हैं, इसलिए शब्दावली पर ज्यादा ध्यान न दें!</p>
      </div>
<body>
</html>
