<html>
  <head>
    <title>Italian</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>

    <h1>Uno sviluppatore web</h1>
    <div class="img">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6cjNG7NdPftuOXIV-c_9GOieH2oTsZY3o6Q&usqp=CAU">
      </div>
    <div class="content">
    <p>Uno sviluppatore web è fondamentalmente un artista interattivo. Sono persone guidate da un profondo desiderio di creare cose. Il canvas di uno sviluppatore web è il browser web di un utente.</p>

<p>Proprio come un bambino curioso prova piacere nel creare giocattoli unendo i blocchi LEGO e poi prova una gioia simile nello smontare le cose per vedere come sono fatte, il lavoro di uno sviluppatore web è quello di utilizzare i mattoni fondamentali del web (come HTML, CSS e JavaScript) per creare qualcosa di complesso come una pagina web. Non preoccuparti! Entreremo presto in tutti questi termini.</p>

<p>È anche compito dello sviluppatore web diagnosticare i problemi nella funzionalità di un sito web, capire come funziona qualcosa leggendo il codice dietro di esso e apportare modifiche per risolvere eventuali problemi. Ciò essenzialmente rende gli sviluppatori web i medici del world wide web. Quando parliamo di World Wide Web ci riferiamo principalmente a siti e applicazioni web. A questo punto, il curioso aspirante sviluppatore che è in te potrebbe chiedersi: "Qual è la differenza tra i due?"</p>

<p>Bene, siamo lieti che tu l'abbia chiesto! Un sito web è solitamente una pagina semplice o un gruppo di pagine (il popolare sito di fumetti web, xkcd, per esempio). Tuttavia, i siti Web moderni sono molto più di questo. Prendi Google Docs, ad esempio. Ha una bella interfaccia che, una volta aperta, assomiglia molto a un software desktop come Microsoft Office. Siti Web così complessi sono spesso definiti applicazioni Web. Oggi ci si aspetta che uno sviluppatore web sappia come creare e lavorare con le applicazioni web. Detto questo, la maggior parte delle persone usa i termini in modo intercambiabile, quindi non fissarti troppo sulla terminologia!</p>
      </div>
<body>
</html>
