<html>
  <head>
    <title>Japanese</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>

    <h1>ウェブ開発者</h1>
    <div class="img">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6cjNG7NdPftuOXIV-c_9GOieH2oTsZY3o6Q&usqp=CAU">
      </div>
    <div class="content">
    <p>Web 開発者は本質的にインタラクティブなアーティストです。ものを作りたいという強い欲求に突き動かされている人たちです。 Web 開発者のキャンバスはユーザーの Web ブラウザーです。</p>

<p>好奇心旺盛な子供がレゴ ブロックを組み合わせておもちゃを作ることに喜びを感じ、その後、物を分解してどのように作られるかを確認することで同様の喜びを感じるのと同じように、Web 開発者の仕事は、Web の基本的な構成要素 ( HTML、CSS、JavaScript) を使用して、Web ページのような複雑なものを作成します。汗をかかないでください！これらの用語については、すぐに説明します。</p>

<p>Web サイトの機能の問題を診断し、背後にあるコードを読んで何かがどのように機能するかを理解し、問題を修正するために変更を加えるのも Web 開発者の仕事です。これにより、Web 開発者は本質的に World Wide Web の医師になります。 World Wide Web について話すとき、私たちは主に Web サイトと Web アプリケーションを指します。この時点で、あなたの中の好奇心旺盛な野心的な開発者は、「この 2 つの違いは何だろう?」と疑問に思っているかもしれません。</p>

<p>そうですね、お問い合わせいただきありがとうございます。 Web サイトは通常、単純なページまたはページのグループです (人気の Web コミック サイト、xkcd など)。しかし、現代の Web サイトはそれをはるかに超えています。 Google ドキュメントを例に考えてみましょう。優れたインターフェイスを備えており、一度開くと Microsoft Office のようなデスクトップ ソフトウェアによく似ています。このような複雑な Web サイトは、Web アプリケーションと呼ばれることがよくあります。今日の Web 開発者は、Web アプリケーションの作成方法と操作方法を知っていることが期待されています。そうは言っても、ほとんどの人はこの用語を同じ意味で使用しているため、用語にあまりこだわりすぎる必要はありません。</p>
      </div>
<body>
</html>
